.search-box{
  margin: 17% auto;
}

.search-box .form-control {
    width: 88%;
    display: inline;
    height: 3em;
}
.search-box button{
  width: 11%;
  height: 60px;
}

.login {
  width: 50%;
  margin: auto;
  padding: 25px;
}

.search-box-book {
  margin: 1% auto;
  max-width: 75%;
  min-width: 50%;
}

.search-box-book button {
  height: 46px
}


/* bootstrap */
.card{
  margin: .5em auto;

}
