{% extends "layout.html" %}
{% block title %}
    Home
{% endblock %}

{% block body %}
<div class="search-box">
  <form class="search" action="{{ url_for("book") }}" method="POST">
    <div class="form-group">
      <input class="form-control form-control-lg" name="search" type="search" aria-describedby="searchHelp" placeholder="Search Book BY ISBN or Title or Author" aria-label="Search" />
      <!-- <button class="btn btn-outline-success btn-lg my-2 my-sm-0" type="submit">Search</button> -->
      <button type="submit"><span></span></button>
      {% if message %}
        <small id="searchHelp" class="form-text text-danger">{{ message }}</small>
      {% endif %}

    </div>
  </form>

</div>



{% endblock %}
