ul li a {
	text-decoration: none;
    color: #040404;
}

ul > li {
	list-style: none;
    display: inline-block;
    margin: 10px;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
}

img {
    box-shadow: 5px 10px #f7f5f5;
}


@media (min-width: 576px) { 



 }
